SmartXmlSql/SmartXmlSqlMaper.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- W3C Schema generated by XMLSpy v2014 (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Set" type="xs:string"/>
	<xs:element name="Case">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="Dynamic">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value=""/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="IsNotEmpty">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value=""/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="When">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="Dynamic"  type="xs:string">
					
					</xs:attribute>
					<xs:attribute name="Prepend"  type="xs:string" default="And">
						
					</xs:attribute>
					<xs:attribute name="IsNotEmpty"  type="xs:string">
					
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Where">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="Choose"/>
				<xs:element ref="When"/>
				<xs:element ref="Switch"/>
				<xs:element ref="Default"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="Choose">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="When"/>
				<xs:element ref="Otherwise"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Switch">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="Case"/>
				<xs:element ref="Default"/>
			</xs:choice>
			<xs:attribute name="Prepend" >
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="And"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Default" type="xs:string"/>
	<xs:element name="Otherwise" type="xs:string"/>
	<xs:element name="SqlMapper">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Statement"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Statement">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="Where"/>
				<xs:element ref="Choose"/>
				<xs:element ref="When"/>
				<xs:element ref="Switch"/>
				<xs:element ref="Default"/>
				<xs:element ref="Set"/>
			</xs:choice>
			<xs:attribute name="DB">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=""/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Id" use="required"  type="xs:string">
			
			</xs:attribute>
			<xs:attribute name="Acess"  type="xs:string">
			
			</xs:attribute>
			<xs:attribute name="Key"  type="xs:string">
				
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
